@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5 mb-5">Northwind</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    The Northwind Database is a widely-used sample database originally developed by Microsoft. It
                    simulates a fictional trading company called "Northwind Traders," providing a comprehensive schema
                    for learning and practicing various aspects of database management.
                    <br /><br />
                    With tables representing entities such as customers,
                    products, orders, and suppliers, the Northwind Database serves as an invaluable resource for
                    exploring relational database concepts, SQL queries, and data analysis techniques.
                    <br /><br />
                    It has been ported to multiple database platforms and continues to be a popular choice for
                    educational purposes and real-world scenario simulations.
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>